<div> 
    &copy; Малинин Михаил<br>
    <%= github_url('infectedfate', 'test-guru', 'TestGuru') %>
    <%= current_year %>
    <%= t('.description') %><br>
    <%= link_to t('.thinkneticalink'), "https://thinknetica.com", target: :blank %>

    <% if current_user %>
     <div class="float-right">
    <%= link_to t('.feedback'), new_feedback_path, class: 'btn btn-outline-info' %>
     </div>
    <% end %>
</div>
