<nav class="navbar navbar-light bg-light">
  <h1>
    <%= link_to "TestGuru", root_path, class: 'navbar-brand' %>
  </h1>
    <span class="navbar-text">
      <% if user_signed_in? %>
        Welcome, <b><%= current_user.email %></b> Guru |
      <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
      <% else %>
      <%=link_to t('.login'), new_user_session_path %> |
      <%=link_to t('.sign_up'), new_user_registration_path %>
      <% end %>
    </span>
</nav>