<h1><%= t('.header') %></h1>
<%= @answer.question.body %>
<b><%= t('.answer') %></b>
<%= @answer.body %>
<b><%= t('.correct') %></b>
<%= @answer.correct %>
<%= link_to t('.back'), admin_question_path(@answer.question) %>
