<h1><%= t('.header', test_title: @question.test.title) %></h1>
<p>
  <strong> <%= t('.body') %></strong>
  <%= @question.body %>
</p>
<table class="table">
  <thead>
<%= t('.answers') %>
  </thead>
  <%= render @question.answers %>
</table>
<%= link_to t('.new_answer'), new_admin_question_answer_path(@question) %>
<%= link_to t('.edit'), edit_admin_question_path(@question) %> |
<%= link_to t('.back'), admin_test_path(@question.test) %>
