<%= link_to t('.create_question'), new_admin_test_question_path(@test) %>

<p>
  <strong> <%= t('.title') %> </strong>
  <%= @test.title %>
</p>

<p>
  <strong> <%= t('.level') %> </strong>
  <%= @test.level %>
</p>
<%= link_to t('.create_question'), new_admin_test_question_path(@test) %>
<p>
  <strong> <%= t('.questions_list') %> </strong>
  <%= render partial: 'questions/question', collection: @test.questions %>
</p>

<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back'), admin_tests_path %>
